.banks {
display: inline-block;
background-image: url('~assets/images/banks.png');
background-size: 60px 25px;
}

.image-techcom {
width: 25px;
height: 25px;
background-position: 0 0;
}

.image-vietcom {
width: 25px;
height: 25px;
background-position: -35px 0;
}
