@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import './table.css';

@import 'tailwindcss/utilities';

@layer base {
  button:focus {
    outline: none;
  }
}
@layer components {
  .success-btn {
    background-color: rgb(2, 192, 118);
  }
  .error-btn {
    background-color: #F84960;
  }
}
html {
  font-size: 17px
}